body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1104px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1699 {
  position:absolute;
  left:39px;
  top:37px;
  width:645px;
  height:33px;
  font-size:28px;
}
#u1700 {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  white-space:nowrap;
}
#u1701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1701 {
  position:absolute;
  left:39px;
  top:97px;
  width:1065px;
  height:33px;
  font-size:28px;
}
#u1702 {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  white-space:nowrap;
}
#u1703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1703 {
  position:absolute;
  left:39px;
  top:160px;
  width:729px;
  height:33px;
  font-size:28px;
}
#u1704 {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  white-space:nowrap;
}
#u1705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1705 {
  position:absolute;
  left:39px;
  top:220px;
  width:701px;
  height:33px;
  font-size:28px;
}
#u1706 {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  white-space:nowrap;
}
